---
layout: main
title: "Thinking in Java 读书笔记"
listIgnore: ['1','2','3','4','5','6','7','8','9','10']
list: ['11','12','13','14','15','16','17','18','19','20','21']
---
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://www.ciaoshen.com">ciaoshen.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#exercises">Exercises</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#articles">Articles</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 练习部分 -->
    <section id="exercises" class="exercises">
        <div class="container">
            <!--<div class="row exercise-title">
                <div class="col-md-12"></div>
            </div>-->
            {% assign sorted = site.posts | sort:"num" %}
            {% for item in page.list %}
            <div class="row exercise-title">
                <div class="col-md-12">
                    <h2><p class="exercise-title">Chapter {{ item }} </p></h2>
                    <hr>
                </div>
            </div>
            <div class="row exercise-content">
                {% for post in sorted %}
                {% if post.categories contains item and post.categories contains "exercises" %}
                <div class="col-md-2 col-sm-3 col-xs-6 exercise-button">
                    <button type="button" class="btn btn-link" onclick="location.href='{{ site.baseurl }}{{ post.url }}';"><h5><b>{{ post.title }} &raquo;<b></h5></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>


    <!-- 文章部分 -->
    <section id="articles" class="articles">
        <div class="container">
            <div class="row exercise-content">
            {% assign sorted = site.posts | sort:"num" %}
            {% for item in page.list %}
                {% for post in sorted %}
                {% if post.categories contains item and post.categories contains "note" %}
                <div class="col-md-6 col-sm-6 col-xs-12 description">
                  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></h2>
                  <blockquote><p>{{ post.description }} <p class="small"><a href="{{ site.baseurl }}{{ post.url }}">阅读全文 &raquo;</a></p></p></blockquote>
                </div>
                {% endif %}
                {% endfor %}

                {% for post in sorted %}
                {% if post.categories contains item and post.categories contains "topics" %}
                <div class="col-md-6 col-sm-6 col-xs-12 description">
          	      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.chapter }} 专题 - {{ post.title }} </a></h2>
          	      <blockquote><p>{{ post.description }} <p class="small"><a href="{{ site.baseurl }}{{ post.url }}">阅读全文 &raquo;</a></p></p></blockquote>
                </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </section>
