---
layout: main
title: "Thinking in Java 读书笔记"
listIgnore: ['1','2','3','4','5','6','7','8','9','10']
list: ['11','12','13','14','15','16','17','18','19','20','21']
chapters:
  - id: '11'
    title: 'Holding Your Objects'
  - id: '12'
    title: 'Error Handling with Exceptions'
  - id: '13'
    title: 'Strings'
  - id: '14'
    title: 'Type Information'
  - id: '15'
    title: 'Generics'
  - id: '16'
    title: 'Arrays'
  - id: '17'
    title: 'Containers in Depth'
  - id: '18'
    title: 'IO'
  - id: '19'
    title: 'Enumerated Types'
  - id: '20'
    title: 'Annotations'
  - id: '21'
    title: 'Concurrenty'
---
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://www.ciaoshen.com">ciaoshen.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#exercises">Thingking in Java Exercises</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bio">Hire Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 练习部分 -->
    <section id="exercises" class="exercises">
        <div class="container">
            <!--<div class="row exercise-title">
                <div class="col-md-12"></div>
            </div>-->
            {% assign sorted = site.posts | sort:"num" %}
            {% for item in page.chapters %}
            <div class="row exercise-title">
                <!--
                <div class="col-md-12">
                    <h2><p class="exercise-title lead">Chapter {{ item }} </p></h2>
                    <hr>
                </div>
                -->
            </div>
            <div class="row exercise-content">
                <div class="col-md-12 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Chapter {{ item.id }}: {{ item.title }}</h1>
                            <hr />
                            {% for post in sorted %}
                            {% if post.categories contains item.id and post.categories contains "exercises" %}
                                <button type="button" class="btn btn-fresh text-uppercase btn-xs"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} &raquo;</a></button>
                            {% endif %}
                            {% endfor %}
                            <br />
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-2 col-sm-3 col-xs-6 exercise-button">-->
                    <!--<button type="button" class="btn btn-link" onclick="location.href='{{ site.baseurl }}{{ post.url }}';"><h5><b>{{ post.title }} &raquo;<b></h5></button>-->
                <!--</div>-->
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="bio" class="bio">
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <hr class="featurette-divider">
                    <div class="col-lg-8">
                    <!-- Third Featurette -->
                    <div class="featurette" id="contact">
                        <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">-->
                        <h2 class="featurette-heading">Need Java Developers?
                            <span class="text-muted">Hire Me &raquo;</span>
                        </h2>
                        <p class="lead">I know Java. Talk is cheap, watch my code.</p>
                        <button type="button" class="btn btn-fresh text-uppercase btn-lg"><a href="https://www.ciaoshen.com">Blog &raquo;</a></button>
                        <button type="button" class="btn btn-fresh text-uppercase btn-lg"><a href="https://github.com/helloShen">Github &raquo;</a></button>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <hr>
                        <button type="button" class="btn btn-hot btn-lg"><h2>hireme.shen@gmail.com</h2></button>
                        <hr>
                    </div>
                <hr class="featurette-divider">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                <p>This page is generated by &nbsp;:&nbsp;
                    <button type="button" class="btn btn-fresh text-uppercase btn-xs">Shell</button>
                    <button type="button" class="btn btn-fresh text-uppercase btn-xs">Java</button>
                    <button type="button" class="btn btn-fresh text-uppercase btn-xs">Jekyll</button> &nbsp; | &nbsp;
                    Style &nbsp;:&nbsp; <button type="button" class="btn btn-hot text-uppercase btn-xs">Bootstrap</button> &nbsp; | &nbsp;
                    Hosted &nbsp;:&nbsp; <button type="button" class="btn btn-sky text-uppercase btn-xs">Github</button>
                </p>
                <p>Copyright &copy; Wei SHEN 2017</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- 文章部分 现在用不到
    <section id="articles" class="articles">
        <div class="container">
            <div class="row exercise-content">
            {% assign sorted = site.posts | sort:"num" %}
            {% for item in page.list %}
                {% for post in sorted %}
                {% if post.categories contains item and post.categories contains "note" %}
                <div class="col-md-6 col-sm-6 col-xs-12 description">
                  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></h2>
                  <blockquote><p>{{ post.description }} <p class="small"><a href="{{ site.baseurl }}{{ post.url }}">阅读全文 &raquo;</a></p></p></blockquote>
                </div>
                {% endif %}
                {% endfor %}

                {% for post in sorted %}
                {% if post.categories contains item and post.categories contains "topics" %}
                <div class="col-md-6 col-sm-6 col-xs-12 description">
          	      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.chapter }} 专题 - {{ post.title }} </a></h2>
          	      <blockquote><p>{{ post.description }} <p class="small"><a href="{{ site.baseurl }}{{ post.url }}">阅读全文 &raquo;</a></p></p></blockquote>
                </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </section>
    -->
