<div class="container hire-me">
    <div class="row">
        <hr class="featurette-divider">
            <div class="col-lg-8">
            <!-- Third Featurette -->
            <div class="featurette" id="contact">
                <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">-->
                <h2 class="featurette-heading">Need Java Developers?
                    <span class="text-muted">Hire Me &raquo;</span>
                </h2>
                <p class="lead">I know Java. Talk is cheap, watch my code.</p>
                <p class="lead">I live in CANADA now.</p>
                <button type="button" class="btn btn-fresh text-uppercase btn-lg"><a href="https://www.ciaoshen.com">Blog &raquo;</a></button>
                <button type="button" class="btn btn-fresh text-uppercase btn-lg"><a href="https://github.com/helloShen">Github &raquo;</a></button>
            </div>
            </div>
            <div class="col-lg-4">
                <hr>
                <button type="button" class="btn btn-hot btn-lg"><h2>hireme.shen@gmail.com</h2></button>
                <hr>
            </div>
        <hr class="featurette-divider">
    </div>
</div>
