<meta name="title" content="{{ site.title }}">

        <meta name="description" content="
            {{ site.title }}
            {% if page.chapter != nil %}
                {{ page.chapter }}
            {% endif %}
            {% if page.title != nil %}
                {{ page.title }}
            {% endif %}
            {% if page.description != nil %}
                {{ page.description }}
            {% endif %}
        ">

<meta name="author" content="ciaoshen">
<title>{{ site.title }}</title>
